*{
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
body{
    display: inline-block;
    width: 100vw;
    height: 100vh;
    transition: 0.75s;
}
nav.inactive{
    display: block;
    overflow: visible;
    position: absolute;
    width: 20vw;
    background-image: linear-gradient(180deg, #183b59, #2a5159);;
    height: 100vh;
    margin-left: -16vw;
    transition: 1s;
}
nav.active{
    display: block;
    overflow: visible;
    position: absolute;
    width: 20vw;
    background-image: linear-gradient(180deg, #183b59, #2a5159);;
    height: 100vh;
    margin-left: 0vw;
    transition: 1s;
}
/*nav:hover{
    margin-left: 0;
}*/
li{
    display: flex;
    justify-content: center;    
    overflow: visible;
    width: inherit;
    height: 10vh;
    font-size: 2.5vmax;
    transition: 0.75s;
    padding: 0.5vmax;

}
button{
    height: 2.5vmax;
    width: 4vmax;
    background-color: transparent;
    border: 3px white solid;
    border-radius: 16px;
    padding-left: 1%;
}
#ball.ball{
    height: 1.8vmax;
    width: 1.8vmax;
    background-color: white;
    border-radius: 100%;
}
#ball.ball.active{
    margin-left: 45%;
}
#ball.ball.inactive{
    margin-left: 0;
}
svg{
    height: 50%;
    transition: 0.75s;
}
a{
    text-decoration: none;
    color: white;
}
li:hover{
    font-size: 2.7vmax;
    cursor: pointer;
}
#menu{
    display: block;
    overflow: visible;
    position: absolute;
    margin-top: 5%;
    margin-right: -120%;
    transition: 0.5s;
    height: 2.5vmax;
    width: 2.5vmax;
}
#menu:hover{
    cursor: pointer;
}
span{
    display: block;
    width: inherit;
    height: 4px;
    border-radius: 4px;
    background-color: #183b59;
    transition: 0.5s;
}

#s2{
    margin-top: 21%;
}
#s3{
    margin-top: 21%;
}
#menuicon{
    font-size: 2.5vmax;
}
@media(max-width: 1024px){
    li{        
        font-weight: 600;
        font-size: 5vmax;
    }
    li:hover{
        font-size: 5.3vmax;
    }
    #menu{
        height: 4vmax;
        width: 4vmax;
    }
    nav.inactive{
        width: 80vw;        
        margin-left: -80vw;
    }
    nav.active{
        width: 80vw;        
        margin-left: 0vw;
    }
}